:root {
  --slate0: #94a3b8;
  --slate1: #64748b;
  --slate2: #475569;
  --semiWhite: #f1f5f9;
  --amber1: #fffbeb;
  --occupied: #d97706;
  --hit: #dc2626;
  --fontSizeSemiHighlight: 1.2rem;
  --fontSizeHighlight: 1.8rem;
  --fontSizeExtra: 2rem;
  --fontSizeHitMob: 1.3rem;
  --borderRadiusBig: 2rem;
  --borderRadiusSmall: 0.8rem;
  --miniPadding: 0.5rem;
  --bigPadding: 1.5rem;
  --myBorder: 1px solid var(--slate0);
  --normalGap: 1.5rem;
  --megaGap: 5rem;
  --shipBlocksPc: 3rem;
  --shipBlocksMob: 1.9rem;
  --svgSize: 2rem;
  --shipBlocksBorder: #475569 solid 0.1rem;
}
body,
html {
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
svg {
  width: var(--svgSize);
  height: var(--svgSize);
  padding: var(--miniPadding);
}
@media screen and (min-width: 1060px) {
  .content {
    flex-wrap: nowrap;
  }
  .cell,
  .shipBlock {
    min-width: var(--shipBlocksPc);
    min-height: var(--shipBlocksPc);
    max-width: var(--shipBlocksPc);
    max-height: var(--shipBlocksPc);
  }
  .header {
    height: 10vh;
    font-size: var(--fontSizeExtra);
  }
  #playerName {
    font-size: var(--fontSizeHighlight);
    font-weight: bold;
  }
  .hit,
  .missed {
    font-size: var(--fontSizeExtra);
  }
}

@media screen and (max-width: 1059px) {
  .content {
    flex-wrap: wrap;
  }
  .cell,
  .shipBlock {
    min-width: var(--shipBlocksMob);
    min-height: var(--shipBlocksMob);
  }
  .shipBlock {
    max-width: var(--shipBlocksMob);
    max-height: var(--shipBlocksMob);
  }
  .header {
    height: 5vh;
    font-size: var(--fontSizeSemiHighlight);
  }
  #playerName {
    font-size: var(--fontSizeSemiHighlight);
    font-weight: bold;
  }
  .hit,
  .missed {
    font-size: var(--fontSizeHitMob);
  }
}

.header {
  background: var(--slate2);
  color: var(--semiWhite);
}

.header,
.nameForm,
.content,
.cell,
.gameBoard,
.enemy,
.draggable,
.player,
.modal,
.dragSvg,
#endGameContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nameForm {
  position: relative;
  align-self: center;
  padding: var(--bigPadding);
  flex-direction: column;
  gap: 1rem;
  font-size: var(--fontSizeSemiHighlight);
  font-weight: bolder;
  background-color: var(--slate2);
  color: var(--semiWhite);
  box-shadow: 0 6px 10px 0 rgba(1, 1, 1, 0.2), 0 8px 30px 0 rgba(2, 2, 2, 0.25);
  border: var(--myBorder);
  border-radius: var(--borderRadiusBig);
}
/* removes excess margins */
.nameForm > *,
#playerName {
  margin: 0;
}
#playerName {
  padding: var(--miniPadding);
}
#submitBtn,
#playAgainButton,
#endGameContent {
  max-width: 25vw;
  min-height: 5vh;
  font-size: var(--fontSizeSemiHighlight);
  font-weight: bold;
  color: var(--slate2);
  background-color: var(--semiWhite);
  border: var(--myBorder);
  border-radius: var(--borderRadiusSmall);
  padding: var(--miniPadding);
}
#endGameContent {
  min-width: 40vw;
  min-height: 25vh;
  gap: var(--normalGap);
}
.content {
  padding: var(--bigPadding);
  min-height: 90vh;
  background-color: var(--amber1);
  justify-content: space-evenly;
  gap: var(--normalGap);
}
.gameBoard,
.enemy,
.draggable,
.player {
  flex-direction: column;
  align-content: space-around;
}
.enemy {
  display: none;
}
.draggable {
  min-width: 40vw;
  flex-direction: row;
  justify-self: flex-end;
  gap: var(--normalGap);
}
.shipBlock,
.cell {
  border: var(--shipBlocksBorder);
}
.shipBlock {
  background-color: rgb(89, 179, 71);
}
.playerBoard,
.aiBoard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.hit,
.missed {
  color: var(--semiWhite);
  font-weight: bold;
}
.hit {
  background-color: var(--hit);
}
.missed {
  background-color: var(--slate1);
}
.occupied {
  background-color: var(--occupied);
}
.modal {
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}
#modalContent p {
  padding: 0;
  margin: 0;
}
#nameInpt {
  height: auto;
  color: var(--slate2);
  border: var(--myBorder);
  border-radius: var(--borderRadiusSmall);
  font-size: var(--fontSizeSemiHighlight);
  padding: var(--miniPadding);
}
.endgame {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  padding-top: 130px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
