body,
html {
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
:root {
  --slate0: #94a3b8;
  --slate1: #64748b;
  --slate2: #475569;
  --semiWhite: #f1f5f9;
  --amber1: #fffbeb;
  --occupied: #d97706;
  --hit: #dc2626;
  --fontSizeSemiHighlight: 1.2rem;
  --fontSizeHighlight: 1.8rem;
  --fontSizeExtra: 2rem;
  --borderRadiusBig: 2rem;
  --borderRadiusSmall: 0.8rem;
  --miniPadding: 0.5rem;
  --bigPadding: 1.5rem;
  --myBorder: 1px solid var(--slate0);
  --normalGap: 1rem;
  --megaGap: 5rem;
  --shipBlocksPc: 5rem;
  --shipBlocksBorder: #475569 solid 0.1rem;
}
.header {
  background: var(--slate2);
  color: var(--semiWhite);
  height: 8vh;
  font-size: var(--fontSizeHighlight);
}

.header,
.nameForm,
.content,
.cell,
.gameBoard,
.enemy,
.draggable,
.player,
.modal,
#endGameContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nameForm {
  position: relative;
  align-self: center;
  padding: var(--bigPadding);
  flex-direction: column;
  max-width: 35vw;
  min-height: 20vh;
  gap: 1rem;
  font-size: var(--fontSizeSemiHighlight);
  font-weight: bolder;
  background-color: var(--slate2);
  color: var(--semiWhite);
  box-shadow: 0 6px 10px 0 rgba(1, 1, 1, 0.2), 0 8px 30px 0 rgba(2, 2, 2, 0.25);
  border: var(--myBorder);
  border-radius: var(--borderRadiusBig);
}
/* removes excess margins */
.nameForm > *,
#playerName {
  margin: 0;
}
#submitBtn,
#playAgainButton {
  max-width: 25vw;
  min-height: 5vh;
  font-size: var(--fontSizeSemiHighlight);
  font-weight: bold;
  color: var(--slate2);
  background-color: var(--semiWhite);
  border: var(--myBorder);
  border-radius: var(--borderRadiusSmall);
  padding: var(--miniPadding);
}
.content {
  padding: var(--bigPadding);
  min-height: 92vh;
  background-color: var(--amber1);
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: var(--megaGap);
}
.gameBoard,
.enemy,
.draggable,
.player {
  flex-direction: column;
  align-content: space-around;
}
.enemy {
  display: none;
}
.draggable {
  flex-direction: row;
  justify-self: flex-end;
  gap: var(--normalGap);
}
.shipBlock {
  background-color: rgb(89, 179, 71);
  min-width: var(--shipBlocksPc);
  min-height: var(--shipBlocksPc);
  border: var(--shipBlocksBorder);
}
.cell {
  border: var(--shipBlocksBorder);
  min-height: var(--shipBlocksPc);
  min-width: var(--shipBlocksPc);
}
.playerBoard,
.aiBoard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.hit,
.missed {
  color: var(--semiWhite);
  font-size: var(--fontSizeExtra);
  font-weight: bold;
}
.hit {
  background-color: var(--hit);
}
.missed {
  background-color: var(--slate1);
}
.occupied {
  background-color: var(--occupied);
}
.modal {
  position: fixed;
  z-index: 9999;
  padding-top: 130px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
#modalContent p {
  padding: 0;
  margin: 0;
}
#nameInpt {
  height: auto;
  color: var(--slate2);
  border: var(--myBorder);
  border-radius: var(--borderRadiusSmall);
  font-size: var(--fontSizeSemiHighlight);
  padding: var(--miniPadding);
}
.endgame {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  padding-top: 130px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
#endGameContent {
  position: relative;
  margin: auto;
  background-color: #fefefe;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
  border: 1px solid #888;
  border-radius: 15px;
  height: 30%;
  width: 340px;
  font-size: 23px;
  color: indigo;
  font-weight: bold;
}
